:root {
    --primary: #222222;
    --secondary: #f0f8ff;
    --text_color: #FFFFFF;
}


body, h1 { /* Margin removal, add more elements as seen fit */
    margin: 0px;
    margin-top: 0px;
  }

body { /*TODO: Add light/dark-mode*/
    background: #e6dfd6;
}

/*Upper header*/

.header {
    text-align: left;
    background-color: var(--primary);
    padding: 20px;
    color: var(--text_color);
    display: flex;
    flex-direction: row;
    height: 70px;
}

.header h1 {
    font-size: 30px;
}

.header_icons * {
    width: 70px;
}


/*lower header*/

.lower_header {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.header_icons {
    margin-left: auto;
}


/*skill cube*/

.skill_cube {
    background-color: black;
    width: 600px;
    height: 4430px;
    margin-left: 30%;
    align-content: center;
    text-align: center;
}

.skill_cube p {
    color: white;
    font-size: larger;
}